venv/
linux/
MYREADME.md
.env

samples/
__pycache__/

temp_files/

google_upload_to_db.py
drive_client.py
account.json
push_to_db_local_sheets.py

insert_dataset.sql

neon_clean_dump.sql

data/


src/**/*.pyc
app.log

docker compose down --remove-orphans
docker compose up -d --build



*.pynn